.user {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.logout {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: large;
  padding: 0;
  color: #fc3535;
}

.platform {
  margin: 0.5em;
  padding: 1em;
}

.platform * {
  display: inline-block;
  vertical-align: middle;
}

.platform img {
  height: 2em;
  width: 2em;
}

.platform div {
  color: white;
  padding-left: 1em;
}

.platform .account {
  color: white;
  border-bottom: 1px solid white;
}

.platform .connect {
  float: right;
  background-color: #0062cc;

  padding: 7px;
  border-radius: 5px;
  color: white;
}

.bold {
  font-weight: bold;
}

h3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

.accounts p {
  margin-top: 0;
}
