p {
  margin-top: 1em;
}

p,
.login {
  text-align: center;
}

.wrap-login {
  padding: 1em;
  text-align: center;
}

.login {
  display: inline-block;
  font-size: large;
  padding: 5px 1em;
  border-radius: 5px;
  background-color: #7289da;
}

.login a {
  color: white;
}

.login img {
  width: 2em;
  padding-right: 0.5em;
}
