p {
  margin-top: 1em;
}

p,
.login {
  text-align: center;
}

.login {
  padding: 1em;
}

.login a {
  font-size: large;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #0062cc;
}
